@import 'https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300';
/* line 29, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
content-view, site-footer {
  flex: 1; }

/* line 32, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
site-header {
  z-index: 1000;
  flex: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px; }

/* line 40, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
.highlight {
  color: #6c70c1; }

/* line 42, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
#content-view {
  background-color: white; }

/* line 44, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
#featured-header {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: "Open Sans Condensed";
  font-size: 6em;
  line-height: 0.8em;
  margin-bottom: 10px; }

/* line 50, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
#site-header {
  background-color: #363747;
  color: white; }
  /* line 15, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
  #site-header .menu {
    background-color: inherit; }
  /* line 17, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
  #site-header .header {
    color: #c2c4e8; }
  /* line 19, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
  #site-header .highlight {
    color: #6c70c1; }

/* line 53, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
#site-footer {
  background-color: #363747;
  color: white; }
  /* line 15, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
  #site-footer .menu {
    background-color: inherit; }
  /* line 17, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
  #site-footer .header {
    color: #c2c4e8; }
  /* line 19, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
  #site-footer .highlight {
    color: #6c70c1; }

/* line 56, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
.footer-header {
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-size: 1em;
  color: #c2c4e8; }

/* line 61, /Users/justmerachel/Desktop/Angular/k-tailors-frontend/css/main.sass */
.text-content {
  font-size: 1em;
  line-height: 1em; }

/*# sourceMappingURL=main.css.map */