@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'

$font-condensed: 'Open Sans Condensed'

$primary-dark-color: #363747
$primary-light-color: #c2c4e8
$primary-gray-color: #83848c
$primary-silver-color: #aaabbc
$primary-highlight-color: #6c70c1

@mixin dark()
    background-color: $primary-dark-color
    color: white
    .header
        color: $primary-light-color
    .highlight
        color: $primary-highlight-color
@mixin unselectable()
    -moz-user-select: -moz-none
    -khtml-user-select: none
    -webkit-user-select: none
    -o-user-select: none
    user-select: none
@mixin content-container()
  background-color: white
  margin: 0px 8%

site-header, site-footer
  width: 100%

main
  &.ng-enter
    transition: 0.5s
    opacity: 0
  &.ng-enter-active
    opacity: 1
.image
  overflow: hidden
  .text
    @include unselectable
    color: $primary-dark-color
    background-color: rgba(255, 255, 255, 0.6)
    font-size: 5em
    font-weight: bold
    line-height: 1em
    text-align: center
    padding: 100%
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    position: absolute
.banner.sized
  height: 228px
  width: auto
.top-glue
  z-index: 200
  position: absolute
  top: -6px
.mobile-text
  font-size: 2em
  line-height: 1.2em
.featured-segment
  font-size: 1.5em
  line-height: 1em
.content-view
    @include content-container
.footer-header
  margin-bottom: 10px
  color: $primary-light-color
.item-name
  text-align: center
  font-size: 2em
  line-height: 1.5em
.featured-item-name
  text-align: left
  font-size: 2em
  line-height: 1.5em
.featured-price
  font-size: 1.2em
  text-align: left
  line-height: 3em
.price
  text-align: center
  color: $primary-light-color
.with-border
  border: 2px solid $primary-gray-color
.item-style
  padding-top: 0px !important
  padding-right: 0px !important
  padding-left: 0px !important
  padding-bottom: 14px !important
#featured-header
    @include unselectable
    font-family: $font-condensed
    font-size: 6em
    line-height: 1em
    margin-bottom: 30px
    -webkit-font-smoothing:antialiased
#site-header
  @include dark
  .menu-center
      text-align: center
#site-footer
  @include dark
  .menu
    background-color: inherit
.text-content
    font-size: 1em
    line-height: 1em
