<div class="content-view">
    <div class="ui padded grid">
        <div class="hidden doubling two column row transition-a">
            <div class="computer only column">
                <img class="ui fluid image" src="assets/img/featured-image.jpg">
            </div>
            <div class="tablet only mobile only column">
                <img class="ui fluid image" src="assets/img/featured-image-mobile.jpg">
            </div>
            <div class="left aligned column">
                <div id="featured-header">
                    <div>Simple.</div>
                    <div>Sexy.</div>
                    <div>Stylish.</div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et apples dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="ui divider"></div>
        <!--
        <div>
            <a class="ui banner sized image" ui-sref="about">
                <img src="assets/img/square-person-watch.jpg">
                <div class="text">About Us</div>
            </a>
        </div>
        <div>
            <a class="ui banner sized image" ui-sref="about">
                <img src="assets/img/square-suit.jpg">
                <div class="text">What We Do</div>
            </a>
        </div>
        <div>
            <a class="ui banner sized image" ui-sref="about">
                <img src="assets/img/square-team.jpg">
                <div class="text">Our Team</div>
            </a>
        </div>
        <div>
            <a class="ui banner sized image" ui-sref="location">
                <img src="assets/img/square-shoes.jpg">
                <div class="text">Contact Us</div>
            </a>
        </div>
        -->
        <div class="tablet only mobile only sixteen wide column">
            <div class="ui grid">
                <div class="row" ui-sref="blog.post({id: 1})">
                    <div class="six wide column">
                        <img class="ui medium image" src="assets/img/square-person-watch.jpg">
                    </div>
                    <div class="ten wide column mobile-text">
                        This month's style tips. <br>
                        <a><em>Find out more</em></a>
                    </div>
                </div>
                <div class="ui fitted divider"></div>
                <div class="row">
                    <div class="six wide column">
                        <img class="ui medium image" src="assets/img/square-suit.jpg">
                    </div>
                    <div class="ten wide column mobile-text">
                        Our philosophy.
                    </div>
                </div>
                <div class="ui fitted divider"></div>
                <div class="row">
                    <div class="six wide column">
                        <img class="ui medium image" src="assets/img/square-shoes.jpg">
                    </div>
                    <div class="ten wide column mobile-text">
                        Pair our suits with some splendid shoes.
                    </div>
                </div>
            </div>
            <div class="ui divider row"></div>
        </div>
        <div class="computer only sixteen wide column">
            <div class="ui container grid">
                <div class="row">
                    <div class="ui fluid card" ui-sref="blog.post({id: 2})">
                        <div class="image">
                            <img src="https://placehold.it/600x200">
                        </div>
                        <div class="center aligned content">
                            <a class="header">This Month's Style Tips</a>
                            <div class="meta">
                                <span class="date">28 Aug 2016</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ui two cards">
                        <div class="card">
                            <div class="image">
                                <img src="https://placehold.it/600x400">
                            </div>
                            <div class="center aligned content">
                                <a class="header">This Month's Style Tips</a>
                                <div class="meta">
                                    <span class="date">28 Aug 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="https://placehold.it/600x400">
                            </div>
                            <div class="center aligned content">
                                <a class="header">Our Philosophy</a>
                                <div class="meta">
                                    <span class="date">4 Sep 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ui three cards">
                        <div class="card">
                            <div class="image">
                                <img src="https://placehold.it/600x400">
                            </div>
                            <div class="center aligned content">
                                <a class="header">Tying down with Ties</a>
                                <div class="meta">
                                    <span class="date">14 Aug 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="https://placehold.it/600x400">
                            </div>
                            <div class="center aligned content">
                                <a class="header">Splendid Shoes</a>
                                <div class="meta">
                                    <span class="date">4 Aug 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="https://placehold.it/600x400">
                            </div>
                            <div class="center aligned content">
                                <a class="header">Outrageous Orange</a>
                                <div class="meta">
                                    <span class="date">1 Aug 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider row"></div>
        </div>
        <div class="computer only row">
            <div class="ui grid container">
                <div class="equal widths row">
                    <div class="column">
                        <a class="ui blurring fluid dimmable image" ui-sref="about">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <h2 class="unselectable ui inverted header">About Us</h2>
                                    </div>
                                </div>
                            </div>
                            <img class="ui image" src="assets/img/square-person-watch.jpg">
                        </a>
                    </div>
                    <div class="column">
                        <a class="ui blurring fluid dimmable image" ui-sref="about">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <h2 class="unselectable ui inverted header">What We Do</h2>
                                    </div>
                                </div>
                            </div>
                            <img class="ui image" src="assets/img/square-suit.jpg">
                        </a>
                    </div>
                    <div class="column">
                        <a class="ui blurring fluid dimmable image" ui-sref="about">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <h2 class="unselectable ui inverted header">Our Team</h2>
                                    </div>
                                </div>
                            </div>
                            <img class="ui image" src="assets/img/square-team.jpg">
                        </a>
                    </div>
                    <div class="column">
                        <a class="ui blurring fluid dimmable image" ui-sref="location">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <h2 class="unselectable ui inverted header">Contact Us</h2>
                                    </div>
                                </div>
                            </div>
                            <img class="ui image" src="assets/img/square-shoes.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
