
<div class="content-view">
    <div class="ui padded grid">
        <div class="row">
            <h1 class="ui header">
                POST {{$ctrl.stateParams.id}}
            </h1>
        </div>
        <div class="row">
            <div class="ui justified container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac condimentum dolor, vitae interdum ex. Nullam tempor, orci eu hendrerit scelerisque, arcu ex commodo odio, vitae tempus odio metus a orci. Quisque et elit eu massa maximus pharetra non eget odio. Maecenas cursus porttitor lacinia. Phasellus maximus in purus quis consectetur. Vivamus enim neque, eleifend id erat a, porttitor consequat ligula. Ut ultricies, odio vel laoreet maximus, ligula purus aliquet risus, vulputate tincidunt est nisl a mauris.
                </p>
                <p>
                    Suspendisse euismod, nulla vulputate tempor finibus, orci massa vehicula risus, non ullamcorper magna sem ac nulla. Proin venenatis tempor dolor vel porta. Nulla tincidunt aliquam dolor id porta. Donec accumsan massa vel sodales efficitur. Vestibulum mollis ipsum laoreet est rutrum luctus. Cras ac facilisis lacus, eu convallis dolor. Aenean purus tortor, rhoncus id dapibus non, placerat et nulla. Praesent pellentesque felis tellus, id fringilla urna sagittis vitae. Suspendisse egestas feugiat tortor et tincidunt. Duis erat lectus, accumsan ut accumsan dapibus, auctor vel mauris.
                </p>
                <p>
                    Vivamus tincidunt vulputate dolor, elementum maximus lorem hendrerit ac. Donec fringilla viverra velit, vitae viverra massa molestie sed. Mauris pretium metus vulputate, commodo dolor eget, interdum ligula. Fusce eget ornare enim. Vivamus consectetur sodales neque id pharetra. Nam a odio sit amet erat consequat accumsan consequat non augue. Aliquam erat volutpat. Nullam nunc leo, commodo eget eleifend quis, semper pellentesque mauris. Aenean eleifend luctus volutpat. Nam sed augue egestas, maximus orci et, pulvinar odio. Mauris urna lectus, dapibus in libero pharetra, venenatis pretium metus. Pellentesque non libero eget magna vehicula aliquam vel in nunc. Vestibulum non venenatis ligula, eu vulputate orci. Donec quis elit ante.
                </p>
                <p>
                    Nulla eget elit blandit, iaculis erat in, auctor velit. Nam cursus quam fermentum porta aliquam. Mauris nulla elit, rhoncus sit amet urna consectetur, facilisis blandit massa. Sed non libero at lacus efficitur tristique. Mauris hendrerit arcu in nulla condimentum placerat. Fusce lacinia, velit vel congue vestibulum, tellus dolor suscipit quam, id fermentum quam justo sed sem. Aliquam erat volutpat. Nulla nunc urna, rutrum a venenatis ultrices, mollis vitae libero. Curabitur accumsan interdum tortor, sed consectetur felis molestie id. Nullam ante sem, aliquet ut aliquet sed, scelerisque sit amet mi. Vestibulum sagittis, risus ut scelerisque rhoncus, felis odio fringilla enim, sed elementum diam orci in nibh.
                </p>

                <p>
                    Mauris commodo vehicula lectus, vel interdum mi scelerisque a. Vestibulum felis justo, aliquet ut feugiat eget, vestibulum et felis. Nunc vehicula, nisi ullamcorper tempor luctus, neque nisi bibendum arcu, ac mattis massa diam sed odio. Suspendisse elit ipsum, hendrerit in nisi vel, gravida fermentum nulla. Morbi imperdiet sodales elementum. Pellentesque sapien odio, efficitur id urna vitae, efficitur pharetra libero. In consequat rhoncus pulvinar. Mauris vestibulum odio aliquet quam mattis, vitae rutrum arcu pellentesque. Aenean vitae suscipit est, et iaculis odio. Donec eget aliquam justo.
                </p>
                <p>
                    Phasellus a mauris tellus. Praesent eros tortor, ornare vel sem et, facilisis fermentum nibh. Pellentesque purus nibh, eleifend non augue at, porta iaculis nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec finibus eu nibh vulputate ultricies. Ut vestibulum nibh non velit volutpat, nec viverra metus fermentum. In ac accumsan ex. Quisque ac sem nec nunc mattis luctus vel at sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis aliquam ante justo, in aliquam nunc bibendum sit amet. Sed lobortis dapibus tempor. Suspendisse vel nulla eros. Aenean ultricies id nisl eu scelerisque. Morbi vitae efficitur justo. Etiam nec urna id ipsum porttitor tempor vitae in nisl.
                </p>
            </div>
        </div>
    </div>
</div>
