<div class="content-view">
    <div class="ui padded stackable four column grid">
        <div class="equal widths row">
            <div class="column">
                <img class="ui fluid image" src="http://placehold.it/800x800">
            </div>
            <div class="column">
                <h1 class="ui header">
                    Featured Item
                </h1>
                <div class="featured-item-name">Unicorn-Powered Rocket Engine</div>
                <segment>
                    Nulla eget elit blandit, iaculis erat in, auctor velit. Nam cursus quam fermentum porta aliquam. Mauris nulla elit, rhoncus sit amet urna consectetur, facilisis blandit massa. Sed non libero at lacus efficitur tristique. Mauris hendrerit arcu in nulla condimentum placerat. Fusce lacinia, velit vel congue vestibulum, tellus dolor suscipit quam, id fermentum quam justo sed sem. Aliquam erat volutpat. Nulla nunc urna, rutrum a venenatis ultrices, mollis vitae libero. Curabitur accumsan interdum tortor, sed consectetur felis molestie id. Nullam ante sem, aliquet ut aliquet sed, scelerisque sit amet mi. Vestibulum sagittis, risus ut scelerisque rhoncus, felis odio fringilla enim, sed elementum diam orci in nibh.
                </segment>
                <div class="featured-price">$500</div>
            </div>
        </div>
        <div class="row">
            <div class="ui horizontal divider">Items</div>
        </div>
        <div class="column" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
            <img class="ui centered medium image" src="http://placehold.it/300x300">
            <div class="item-name">Item {{item}}</div>
            <div class="price">${{item}}0</div>

        </div>
    </div>
</div>
