<div class="ui horizontally padded centered grid">
    <div class="row">
        <site-header></site-header>
    </div>
    <div class="row">
        <content-view></content-view>
    </div>
    <div class="row">
        <site-footer></site-footer>
    </div>
</div>
