<div class="ui horizontally padded grid" id="site-header">
    <div class="tablet only mobile only two column row" style="padding-bottom: 0px;">
        <div class="ui inverted fluid menu" style="background-color:inherit">
            <a ui-sref="home" class="ui image">
                <img src="http://placehold.it/360x150">
            </a>
            <div class="right menu">
                <a class="item" ui-sref="shop"><i class="large shop icon"></i></a>
                <a class="item" ui-sref="location"><i class="large location arrow icon"></i></a>
            </div>
        </div>
    </div>
    <div class="computer only row" style="padding-bottom:0px">
        <div class="ui inverted fluid menu" style="background-color:inherit">
            <a ui-sref="home" class="ui image">
                <img src="http://placehold.it/360x50">
            </a>
            <div class="right menu">
                <div class="ui dropdown borderless item">
                    <span class="text">Site Map</span>
                    <i class="dropdown icon"></i>
                    <div class="inverted menu">
                        <div class="item" ui-sref="home">Home</div>
                        <div class="item" ui-sref="about">About</div>
                        <div class="item" ui-sref="location">Location</div>
                        <div class="item" ui-sref="shop">Shop</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

