<div class="ui horizontally padded grid" id="site-footer">
    <div class="computer only divided equal width row">
        <div class="column">
            <div class="footer-header">
                Site Map
            </div>
            <div class="ui divider"></div>
            <nav class="ui list">
                <a class="item" ui-sref="home">Home</a>
                <a class="item" ui-sref="about">About</a>
                <a class="item" ui-sref="shop">Shop</a>
                <a class="item" ui-sref="location">Location</a>
            </nav>
        </div>
        <div class="column">
            <div class="footer-header">
                Latest Articles
            </div>
            <div class="ui divider"></div>
            <nav class="ui list">
                <a class="item">New Product Lineup!</a>
                <a class="item">Showcase @ Suntec (26/08)</a>
                <a class="item">Suit Up! Event details</a>
            </nav>
        </div>
        <div class="column">
            <nav class="ui list">
                <a class="item">Contact Us</a>
                <a class="item">FAQ</a>
                <a class="item">Shipping and Collection</a>
                <a class="item">Returns Policy</a>
                <a class="item">Terms & Conditions</a>
                <a class="item">Privacy Policy</a>
            </nav>
        </div>
    </div>
    <div class="tablet only mobile only row">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui horizontal divider header">
                    <span class="mobile-text">Site Map</span>
                </div>
                <nav class="ui vertical fluid inverted menu">
                    <a class="item mobile-text" ui-sref="home">Home</a>
                    <a class="item mobile-text" ui-sref="about">About</a>
                    <a class="item mobile-text" ui-sref="shop">Shop</a>
                    <a class="item mobile-text" ui-sref="location">Location</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="computer only centered row">
        <div class="footer-header">
            Copyright 2016. Powered by Spaceships and Rockets.
        </div>
    </div>
</div>
